.wrapper {
  background: #f6f6f6;
  font-size: 16px;
  line-height: 24px;
  min-height: 100vh;
  width: 100%;
  /* background-color: #fff; */
  color: black;
  text-align: left;
}
.wrapper a {
  color: #5d88b3;
}
.wrapper a .icon {
  line-height: 1.428571429;
}
.wrapper a:hover .icon {
  text-decoration: none;
}
.wrapper button {
  outline: none;
}
.wrapper h1,
.wrapper h2,
.wrapper h3,
.wrapper h4,
.wrapper h5,
.wrapper h6 {
  margin: 0 0 18px 0;
  font-weight: 400;
}
.wrapper p {
  margin: 0 0 20px 0;
}
.wrapper strong {
  font-weight: 700;
}
.wrapper .page {
  padding: 25px;
}
